{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "standard",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error"
  },
  "overrides": [
    {
      "files": ["test/*.test.mjs"],
      "extends": [
        "eslint:recommended",
        "standard",
        "plugin:prettier/recommended"
      ],
      "plugins": ["prettier"],
      "parser": "",
      "env": {
        "mocha": true
      }
    }
  ]
}
